@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* -------shared style---------- */
main{
    background: url(assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);


}
.main-container{
    width: 90%;
    margin: 0 auto;
}


.flex{display: flex;}

.button-primary{
    padding: 10px;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: white;
    margin-top: 0px;

}


/* --------nav style------------- */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 102px;
}
.nav-item-name{
    list-style: none;
}
.nav-items{
    align-items: center;
}
.logo{
    height: 62px;
    width: 62px;
}
.nav-school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.item-1{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(254, 163, 1);
}
.item{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 32px;
}
.item-2{color: rgb(1, 172, 253); }
.item-3{color: rgb(5, 212, 223);}
.item-3{color: rgb(93, 88, 239);}
.button-a{
    background-color:rgb(254, 163, 1);
    color: white;
}
.nav-menu{display: none;}
/* --------nav style finish------------- */

/* ---------start banner section-------- */

.banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-holder{
    display: contents;
}

.writing-section{
    margin-right: 50px;

}
.headline1{
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}
.headline2{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}
.headline-t1{color: rgb(254, 163, 1);}
.headline-t2{color: rgb(17, 17, 17) ;}
.headline-t3{color: rgb(1, 172, 253) ;}

/* ---------------curriculam-container-------------------- */
.curriculam{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}
.curri-hed{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}
.box-container{
    display: flex;
    gap: 28px;
}
.box{
    margin: 0 auto;
    position: relative;
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border-radius: 18.86px;
}
.box-color-1{
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-color-2{
    border: 0.94px solid rgb(255, 244, 220);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.box-color-3{
    border: 0.94px solid rgb(242, 232, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.image-con{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.box-head{
    font-size: 24.52px;
    font-weight: 700;
    text-align: center;
}
.box-p{
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
}
.box-more{
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
}
.more-color-1{color:rgb(100, 200, 255) ;}
.more-color-2{color:rgb(240, 170, 0) ;}
.more-color-3{color:rgb(135, 0, 255);}

/* arrow-con */
.arrow-con{
    margin-top: 80px;
    justify-content: center;
    gap: 10px;
}



/* --------our stories section----------- */
.stories-section{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.curri-hed{
    margin-top: 100px;
}
.story-box-holder{
    margin-top: 80px;
    align-items: center;
    align-content: center;
    gap: 10px;
    justify-content: space-between; 

}

.storie-con-1{
    position: relative;
    width: 540.27px;
    border-radius: 16px;
    height: 630.52px;
    background: rgb(255, 255, 255);
}
.storyimg-1{
    width: 540px;
    height: 337px;
    border-radius: 16px 16px 0px 0px;
    background: url(),rgb(217, 217, 217);
}
.story-1-textholder{
    padding: 20px;
}
.storyimg-1hed{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: rgb(0, 0, 0);
}
.storyimg-2hed{
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(102, 102, 102);
}



.storie-con-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 622px;
    width: 601px;
    gap: 15px;
}


.storie-box{
    width: 290.69px;
    height: 301.61px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}


.storyimg-2{
    width: 291px;
    height: 177px;
    border-radius: 16px 16px 0px 0px;
    background: url(),rgb(255, 255, 255);
}

.story-box-title{
    font-size: 15.34px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    color: rgb(0, 0, 0);
}
.hide-box{
    display: none;
}
.btn-margin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.button-holder{
    padding: 80px;
}

/* ----------footer section start------------- */
footer{
    height: 480px;
    background: rgb(45, 26, 156);



}
.ft-container{
    width: 1070.91px;
    height: 222px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.foter-item{
   margin-top: 200px;
}
.kidsedu-text{
    color: rgb(255, 255, 255);
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    text-align: left;
}
.section-2{
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0%;
   text-align: left;
   width: 390px;
}
.logo-st{
    width: 80px;
    height: 80px;
    margin-top: 40px;
}

.item-list{
    list-style: none;
}
.list-1{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.list{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 30px;
}
.abc{
    margin-top: 20px;
}


  























@media screen and (max-width: 576px) {

    /* nav section start */
     nav{border-bottom: 0.5px solid orange;}
    .nav-container{height: 46px;} 
    .nav-school{display: none;}
    .nav-item-name{display: none;}
    .button-a{display: none;}
    .nav-menu{display: block;}
    .logo{height: 40px; margin-bottom: 3px;}
    /* nav section finished */


    /* banner section start */
    .banner{flex-direction: column-reverse;  }
    .hero-image{width:330px ; height:400px ;}
    .writing-section{margin-right: 0px;}
    .headline1,.headline2{ text-align: center;}
    .button-holder{display: flex; justify-content: center;}
    /* banner section finished */

    /* curriculam section start */
    .box-container{flex-direction: column;}
    .image-con{margin-top: 20px; }
    .arrow-con{display: none;}
    .box{
        margin: 0 auto;
        position: relative;
        width: 337.8px;
        height: 416.78px;
        box-sizing: border-box;
        border-radius: 18.86px;
    }




    /* stories section */
    .story-box-holder{margin-top: 20px;}
    .storie-con-1{display: none;}
    .hide-box{display: block;}

    .storie-con-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
        width: 300px;
        gap: 15px;
    }
    .storyimg-2{
        width: 163px;
        height: 105.39px;
        border-radius: 16px 16px 0px 0px;
        background: url(),rgb(255, 255, 255);
    }
    .storie-box{
        width: 163px;
        height: 170px;
        border-radius: 16px;
        background: rgb(255, 255, 255);
    }
    .story-box-title{
        font-size: 9.13px;
    }
    .curri-hed{
        margin-top: 40px;
    }
    .stories-section{height: 768.89px;}

    .btn-margin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

  

    /* -------------- */

    footer{
        height: 900px;
        align-items: start;
       
    }
    .foter-item{
        margin-top: 50px;
        align-items: start;
     }
    .ft-container{
        width: 100%;
        height: 390px;
        flex-direction: column;
        align-items: start;
        margin-left: 20px;
    }



    .item-list{
        list-style: none;
        align-items: start;
        margin-left: 0px;
        padding-left: 0px;
    }
    .list-1{
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: start;
        margin-left: 0px;
    }
    .list{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        margin-left: 0px;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 30px;
        align-items: start;
    }
    .abc{
        margin-top: 20px;
    }
    
    
      













}



 

