@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* -------shared style---------- */
.flex{display: flex;}
.button-primary{
    padding: 10px;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    color: white;
}


/* --------nav style------------- */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 102px;
}
.nav-item-name{
    list-style: none;
}
.nav-items{
    align-items: center;
}
.logo{
    height: 62px;
    width: 62px;
}
.nav-school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.item-1{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(254, 163, 1);
}
.item{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 32px;
}
.item-2{color: rgb(1, 172, 253); }
.item-3{color: rgb(5, 212, 223);}
.item-3{color: rgb(93, 88, 239);}
.button-a{
    background-color:rgb(254, 163, 1);
    color: white;
}
.nav-menu{display: none;}
/* --------nav style finish------------- */

/* ---------start banner section-------- */

.banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.writing-section{
    margin-right: 50px;
}
.headline1{
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;
}
.headline2{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
}
.headline-t1{color: rgb(254, 163, 1);}
.headline-t2{color: rgb(17, 17, 17) ;}
.headline-t3{color: rgb(1, 172, 253) ;}

























@media screen and (max-width: 576px) {

    /* nav section start */
     nav{border-bottom: 0.5px solid orange;}
    .nav-container{height: 46px;} 
    .nav-school{display: none;}
    .nav-item-name{display: none;}
    .button-a{display: none;}
    .nav-menu{display: block;}
    .logo{height: 40px; margin-bottom: 3px;}
    /* nav section finish */


    /* banner section start */
    .banner{flex-direction: column-reverse;  }
    .image-section{padding-left: 10px; padding-right: 10px;}
    .headline1,.headline2{ text-align: center;}
    .button-holder{display: flex; justify-content: center;}








}



 

